@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-SemiBold.woff2);
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Medium.woff2") format("woff2"),
    url("Poppins-Medium.woff") format("woff"),
    url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Poppins-SemiBold.woff2") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Bold.woff2") format("woff2"),
    url("Poppins-Bold.woff") format("woff"),
    url("Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('FileName.eot');
  src: url('FileName.eot?#iefix') format('embedded-opentype'),
    url('../fonts-owesome/fontawesome-webfont.woff') format('woff'),
    url('FileName.ttf') format('truetype'),
    url('FileName.svg#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;

}






img {
  display: block;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0;
  background: #fff;
}

.nav__logo h5 {
  color: #002265;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 5.125px;
}

.nav__logo span {
  color: #14279b;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.125px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.nav__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.nav__list li a {
  color: #212121;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.375px;
  text-decoration: none;
}

.nav__list li a:hover {
  color: #608af5;
  transition: all ease-in 0.5s;
}

.nav__list button {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.375px;
  padding: 10px 18px;
  border-radius: 10px;
  background: #608af5;
  border: none;
}

.nav__list button:hover {
  opacity: 0.4;
  color: #212121;
  transition: all ease-in 0.5s;
}

.nav__list button :active {
  position: relative;
  top: 3px;
}






.social a {
  color: #fff;
  text-decoration: none;
}

.me {
  width: 400px;
  margin: 90px auto;
}

.me p,
.me h1 {
  letter-spacing: 3px;
  text-align: center;
}

.me p {
  font-weight: 200;
}

.me span {
  font-weight: bold;
}

.social {
  position: fixed;
  top: 30%;
  left: 15px;
}

.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
  
}

.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 330px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
  
}

.social ul li:hover {
  transform: translate(110px, 0);

  background: rgba(0, 0, 0, 0.36);
}

.social ul li:hover a {
  font-family: "Poppins";
  color: #000;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 18px;
}

.social ul li:hover i {
  background: #fff;
  transform: rotate(360deg);
  transition: all 1s;
}


.social ul li:hover .fa-instagram {
  color: #E1306C;
}

.social ul li:hover .fa-github {
  color: #6e5494;
}

.social ul li:hover .fa-telegram {
  color: #229ED9;
}

.social ul li:hover .fa-vk {
  color: #0077ff;
}

.social ul li:hover .fa-linkedin {
  color: #0077b5;
}


.social ul li i {
  margin-left: 10px;
  color: #fff;
  background: #000;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transform: rotate(0deg);

}


.hello__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 160px 70px 0 70px;
}

.hello__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}

.hello__text span {
  color: #002265;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.175px;
}

.hello__text h1 {
  color: #002265;
  font-family: "Poppins";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
  max-width: 580px;
}

.hello__text p {
  color: #082032;
  font-family: "Poppins";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.345px;
  max-width: 580px;
}

.img1 {
  position: relative;
  bottom: 540px;
  left: 150px;
  z-index: -1;
}

.img3 {
  position: relative;
  top: 350px;
  right: 200px;
  z-index: -1;
}

.img4 {
  position: relative;
  top: 850px;
  right: 400px;
  z-index: -1;
}

.img5 {
  position: relative;
  bottom: 200px;
  right: 450px;
  z-index: -1;
}

.img6 {
  position: relative;
  top: 630px;
  right: 350px;
  z-index: -1;
}



.slider h2 {
  color: #002265;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.925px;
  text-align: center;
  padding: 0 0 40px 0;
}


img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container_slider {
  position: relative;
  border: solid 1px #212121;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(192, 113, 57);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 25px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(40, 60, 125, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ec7932;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}









.card__big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0 0 160px 0;
}

.cards h5 span {
  color: #14279b;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
}

.cards h5 {
  color: #002265;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.925px;
  text-align: center;
  margin-top: 100px;
}

.cards__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.cards__row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 347px;
  height: 280px;
  padding: 20px 24px;
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
}

.card__box h6 {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.375px;
}

.card__box span {
  color: #000;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.375px;
}

.card__box p {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.99px;
}

.footer_social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.footer_social h5 {
  color: #14279b;
  text-align: center;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
}

.footer_social span {
  color: #172774;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.925px;
}

.social__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social__row a:hover {
  opacity: 0.6;
  transition: all ease-in 0.6s;
}

.footer__wave img {
  width: 100%;
}



.footer__wave p {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
  position: relative;
  top: 270px;
}

.ellips__img {
  display: flex;
  justify-content: center;
  align-items: center;
}